@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Reem+Kufi');
@import url('https://fonts.googleapis.com/css?family=Raleway:100');

body{

	margin: 0px;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

.nav-item{
text-decoration: none;
margin-left: 12%;
text-transform: uppercase;
color: black;

}

.nav-bare{

	width: 30%;
}

footer{

	 max-width: 1000px;
width: 100%;
height: 100%;
background: #525151;
display: block;
margin: auto;
color: white;
}



h2, h1{

	text-transform: uppercase;
}
		
header{
max-width: 1000px;
width: 100%;
margin: auto;
display: block;
box-sizing: border-box;


}


.topp-banner{

	height: 50px;
	display: block;
	box-sizing: border-box;
}

.logo{

	float: left;
font-family: 'Reem Kufi', sans-serif;
font-size: 44px;
margin-top: 0px !important;
}

.nav-bare{

	float: right;
}

.logo, .nav-bare{

	margin-top: 3%;
}

.sosial-banner{

height: 47px;
background-color: #efefef;
text-align: right;
font-size: 24px;
}

.header_pic{

	text-align: center;
	height: 400px;
	background-image: url(headpic.jpg);
	display: block;
	margin: auto;
	box-sizing: border-box;
	background-size: cover;
}

.tittle{

height: 175px;
width: 60%;
margin: auto;
display: block;
box-sizing: border-box;
position: relative;
top: 30%;
background-color: rgba(255, 255, 255, 0.70);
padding-top: 1%;
}

section{

max-width: 1000px;
width: 100%;
display: flex;
box-sizing: border-box;
margin: auto;
height: 600px;
flex-wrap: wrap;
justify-content: space-between;
}

.about_tittle{
max-width: 1000px;
	width: 100%;
	display: block;
	box-sizing: border-box;
	margin: auto;
	text-align: center;
	color: #c5c5c7;

}

article{

width: 41%;
display: flex;
float: left;
text-align: center;


height: 200px;

background-size: cover;
flex-wrap: wrap;



}

.math{

	background-image: url(math.jpg);
	padding: 4%;
}

.svg{

	background-image: url(math.jpg);
	padding: 4%;
}


.git{

	background-image: url(gitpic.jpg);
	padding: 4%;
}

.mal{

	background-image: url(mal.jpg);
	padding: 4%;
}

.article_header{

	position: relative;
	background-color: rgba(255, 255, 255, 0.70);
	padding: 10%;
	width: 90%;
	text-decoration: none;
	color: black;
}


.article_header:hover{

	color: white;
	background-color: rgba(0, 0, 0, 0.70);

}


h3{

	font-weight: 100;
}

.footer-top{

height: 120px;
border-bottom: 1px solid #dcdcde;
padding: 20px;
}

.footer-top a{

    color: white;
    text-decoration: none;
    margin-right: 5%;
}

.footer-bottom{

	padding: 20px;
}

.logo_footer{

	float: right;
	font-size: 100px;
	color: white;
}

.footer-text{

	width: 23%;
display: block;
margin: auto 11px;
float: left;
}

.footer-text p{
	font-size: 15px;
}

.footer-info{
	max-width: 700px;
display: block;
}





/*Under kommer css for artikkel sidene*/

.aricles-text{
	margin-bottom: 5%;
	height: 100%;


}


.a-text{

width: 100%;

height: 100%;
text-align: justify;
justify-content: space-between;

}


.header_pic_aricle{

background-image: url(mal.jpg);
background-position: center;
background-size: cover;
}

.article-tittle{

height: 175px;
width: 100%;
margin: auto;
display: block;
box-sizing: border-box;
position: relative;
top: 30%;
background-color: rgba(255, 255, 255, 0.70);
padding-top: 1%;
text-align: center;
}

.article-tittle h1{

margin-top: 7%;

}

.eks{

background-color: white;
margin-bottom: 34px;
flex-flow: wrap;
padding: 20px;
text-align: center;
width: 17%;
}

.matheks{

margin-bottom: 34px;
flex-flow: wrap;
text-align: center;
width: 30%;
}


.svg-eks{

margin-bottom: 34px;
flex-flow: wrap;
text-align: center;
width: 33%;

}



mrow{


	padding:20px;
	margin: 20%;
	font-family: 'Raleway', sans-serif;
	color: grey;
}

.shape {
  fill: transparent;
  stroke-dasharray: 123 365;
  stroke-dashoffset: -358;
  stroke-width: 2px;
  stroke: black;
  margin-top: 10%;

}


@keyframes draw {
  0% {
    stroke-dasharray: 123 365;
    stroke-dashoffset: -358;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}


.button-text{

	position: absolute;
text-align: center;
width: 18%;
margin-top: 8%;
}

table{

width: 100%;
padding: 15px;
margin-bottom: 25px;
background-image: url(mal.jpg);
background-size: cover;
}

tr:nth-child(2n+1) {
	background-color: rgb( 255, 255, 255,0.7 );
	color: black;
}

tr:nth-child(even) {
	background-color: rgb( 52, 73, 94,0.5 );
	color: white;
}

tr:first-child{

	height: 58px;
}

tr{
	height: 42px;
}


