@import url('https://fonts.googleapis.com/css?family=Amatic+SC');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');
@import url('https://fonts.googleapis.com/css?family=Megrim');
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{

	margin: 0px;
	font-family: 'Raleway', sans-serif;
	height: 100%;
}

.nav-item{
text-decoration: none;
margin-left: 12%;
text-transform: uppercase;
color: black;

}

.nav-bare{

	width: 30%;
}

footer{

	 max-width: 900px;
width: 100%;
height: 100%;
background: #525151;
display: block;
margin: auto;
color: white;
}



h2, h1{

	text-transform: uppercase;
}
		
header{
max-width: 900px;
width: 100%;
margin: auto;
display: block;
box-sizing: border-box;


}


.topp-banner{

	height: 50px;
	display: block;
	box-sizing: border-box;
}

.logo{

	float: left;
font-family: 'Megrim', cursive;
font-size: 52px;
margin-top: 0px !important;
}

.nav-bare{

	float: right;
}

.logo, .nav-bare{

	margin-top: 3%;
}

.sosial-banner{

	height: 47px;
	background-color: #efefef;
}

.header_pic{

	text-align: center;
	height: 400px;
	background-image: url(header_iamg.jpg);
	display: block;
	margin: auto;
	box-sizing: border-box;
	background-size: cover;
}

.tittle{

height: 175px;
width: 60%;
margin: auto;
display: block;
box-sizing: border-box;
position: relative;
top: 30%;
background-color: rgba(255, 255, 255, 0.70);
padding-top: 1%;
}

section{

	max-width: 900px;
width: 100%;
display: block;
box-sizing: border-box;
margin: auto;
height: 600px;
}

.about_tittle{
max-width: 900px;
	width: 100%;
	display: block;
	box-sizing: border-box;
	margin: auto;
	text-align: center;
	color: #c5c5c7;

}

article{

	width: 40%;
display: block;
float: left;
text-align: center;
padding: 4%;
margin: 1%;
background-color: turquoise;
height: 200px;
background-image: url(article_img.jpg);
background-size: cover;



}

.article_header{

	position: relative;
	top: 33%;
	background-color: rgba(255, 255, 255, 0.70);
	padding: 3%;
}


.article_header:hover{

	color: white;
	background-color: rgba(0, 0, 0, 0.70);
}


h3{

	/*font-family: 'Amatic SC', cursive;*/
	font-family: 'Josefin Slab', serif;
}

.footer-top{

height: 120px;
border-bottom: 1px solid #dcdcde;
padding: 20px;
}

.footer-bottom{

	padding: 1%;
}
